<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>822767007544-0rin76ng7clqs3ec0h0a93f8puclli9l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.822767007544-0rin76ng7clqs3ec0h0a93f8puclli9l</string>
	<key>API_KEY</key>
	<string>AIzaSyD4XwRVJ4qekmvZ6AQL9dKCAp7YQAdg6Vw</string>
	<key>GCM_SENDER_ID</key>
	<string>822767007544</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.jacksonHo.challenge</string>
	<key>PROJECT_ID</key>
	<string>dev-challenge-mintri1199</string>
	<key>STORAGE_BUCKET</key>
	<string>dev-challenge-mintri1199.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:822767007544:ios:faf3b7225257125422b3cd</string>
	<key>DATABASE_URL</key>
	<string>https://dev-challenge-mintri1199.firebaseio.com</string>
</dict>
</plist>